<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nicholasgalen</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <video loop autoplay muted plays-inline class="back-video" 
        src="/videos/background1.mp4" type="video/mp4"></video>

        <header>
            <div class="left">
                <img src="/images/logo.webp" alt="logo">
                <h1><span style="color: #72a1de">Nicholas</span>Galen</h1>
            </div>

            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Projects</a></li>
            </ul>

            <div class="box-icons">
                <a href="https://www.linkedin.com/in/nicholas-galen/"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/nicholasgalen"><i class='bx bxl-github' ></i></a>
                <a href="https://www.youtube.com/@chuckcewrealoficial"><i class='bx bxl-youtube'></i></a>
            </div>
        </header>

        <div class="bh-box">
            <video loop autoplay muted plays-inline src="/videos/blackhole.mp4" 
            type="video/mp4"></video>
        </div>

        <section class="introduction">
            <div class="introduction-info">
                <div class="introduction-info-title">
                    <i class="bx bxl-sketch"></i>
                    Software Developer Portfolio
                </div>

                <h1>Bringing Ideas <span class="gradient">to Life</span> One Project at<span class="gradient"> a Time</span></h1>

                <p>Hi! I'm Nicholas, a mobile developer with a strong passion 
                    for machine learning, full-stack development, and game 
                    development.</p>

                <button><i class='bx bx-send'></i> Contact Me</button>
            </div>

            <div class="app-wrapper">
                <div class="intro-box">
                    <div class="app">
                        <div class="tag-list">
                          <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
                            <div class="inner">
                              <div class="tag"><span>#</span> Python</div>
                              <div class="tag"><span>#</span> C#</div>
                              <div class="tag"><span>#</span> .NET</div>
                              <div class="tag"><span>#</span> MVC</div>
                              <div class="tag"><span>#</span> Git/GitHub</div>
                              <div class="tag"><span>#</span> Python</div>
                              <div class="tag"><span>#</span> C#</div>
                              <div class="tag"><span>#</span> .NET</div>
                              <div class="tag"><span>#</span> MVC</div>
                              <div class="tag"><span>#</span> Git/GitHub</div>
                            </div>
                          </div>
                          <div class="loop-slider" style="--duration:19260ms; --direction:reverse;">
                            <div class="inner">
                              <div class="tag"><span>#</span> Android Studio</div>
                              <div class="tag"><span>#</span> Kotlin</div>
                              <div class="tag"><span>#</span> Java</div>
                              <div class="tag"><span>#</span> Dart</div>
                              <div class="tag"><span>#</span> C</div>
                              <div class="tag"><span>#</span> Android Studio</div>
                              <div class="tag"><span>#</span> Kotlin</div>
                              <div class="tag"><span>#</span> Java</div>
                              <div class="tag"><span>#</span> Dart</div>
                              <div class="tag"><span>#</span> C</div>
                            </div>
                          </div>
                          <div class="loop-slider" style="--duration:10449ms; --direction:normal;">
                            <div class="inner">
                              <div class="tag"><span>#</span> Photoshop</div>
                              <div class="tag"><span>#</span> Sony Vegas</div>
                              <div class="tag"><span>#</span> Blender</div>
                              <div class="tag"><span>#</span> Unity</div>
                              <div class="tag"><span>#</span> Wireshark</div>
                              <div class="tag"><span>#</span> Photoshop</div>
                              <div class="tag"><span>#</span> Sony Vegas</div>
                              <div class="tag"><span>#</span> Blender</div>
                              <div class="tag"><span>#</span> Unity</div>
                              <div class="tag"><span>#</span> Wireshark</div>
                            </div>
                          </div>
                          <div class="loop-slider" style="--duration:16638ms; --direction:reverse;">
                            <div class="inner">
                              <div class="tag"><span>#</span> NodeJS</div>
                              <div class="tag"><span>#</span> MySQL</div>
                              <div class="tag"><span>#</span> Postman</div>
                              <div class="tag"><span>#</span> Neon.tech</div>
                              <div class="tag"><span>#</span> Javascript</div>
                              <div class="tag"><span>#</span> NodeJS</div>
                              <div class="tag"><span>#</span> MySQL</div>
                              <div class="tag"><span>#</span> Backend</div>
                              <div class="tag"><span>#</span> Neon.tech</div>
                              <div class="tag"><span>#</span> Javascript</div>
                            </div>
                          </div>
                          <div class="loop-slider" style="--duration:15936ms; --direction:normal;">
                            <div class="inner">
                              <div class="tag"><span>#</span> Next.js</div>
                              <div class="tag"><span>#</span> React</div>
                              <div class="tag"><span>#</span> Bootstrap</div>
                              <div class="tag"><span>#</span> HTML5</div>
                              <div class="tag"><span>#</span> CSS3</div>
                              <div class="tag"><span>#</span> Next.js</div>
                              <div class="tag"><span>#</span> React</div>
                              <div class="tag"><span>#</span> Bootstrap</div>
                              <div class="tag"><span>#</span> HTML5</div>
                              <div class="tag"><span>#</span> CSS3</div>
                            </div>
                          </div>
                          <div class="fade"></div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="scroll-down"></div>
        </section>

        <section class="info-section">
            <h1 class="section-title autoDisplay">About Me 🙍‍♂️</h1>
            <div class="info-cards">
                <div class="card ">
                    <h1>👋 Hi there, I'm Nicholas Galen!</h1>
                    <p>I'm a recent graduate eager to start my career and grow through new challenges.</p>
                
                    <div class="profile-img-wrapper">
                      <img src="/images/NGPhoto.jpg" alt="">
                    </div>
                </div>

                <div class="card">
                    <h1>🛠️ Tech Stack</h1>
                    <p>I work with a wide range of languages, frameworks, and tools to build scalable and efficient applications.</p>
                
                    <img src="/images/test.png" alt="">
                </div>

                <div class="card">
                    <h1>🌍 Flexible & Global</h1>
                    <p>Based in Waterloo, Canada. I hold a German passport, which allows me to work in the EU without a visa. Open to remote work or relocation if needed. Time zone differences aren’t a problem.</p>
                
                    <video src="/videos/glob.mp4" autoplay loop muted plays-inline></video>

                    <button><i class='bx bx-send'></i> Contact Me</button>
                </div>

                <div class="card">
                    <h1>💻 Coding is My Passion</h1>
                    <p>I love solving problems and bringing ideas to life through code. I'm always learning and exploring new technologies.</p>
                
                    <img src="/images/grid4.png" alt="">
                </div>
            </div>
        </section>

         <section class="my-project">
            <h1 class="section-title-projects autoDisplay">My Projects 👨‍💻</h1>
            <div class="project-card">
                <div class="project-vidbox autoBlur" >
                    <div class="mobile-frame">
                        <video loop id="projectVideo1" src="/videos/project1.mp4"></video>
                    </div>
                    <div class="hover-sign"></div>
                </div>
                <div class="project-info fadein-left">
                    <h1>Cartbutler <span class="gradient">Android</span> App</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsam excepturi ex in corrupti similique dolor nam, suscipit, odio soluta at recusandae nulla, id fugiat!</p>
                    <button><i class='bx bx-link-external' ></i> Github</button>
            </div>
            </div>

            <div class="project-card">
                <div class="project-vidbox autoBlur">
                    <div class="mobile-frame">
                        <video loop id="projectVideo1" src="/videos/project1.mp4"></video>
                    </div>
                </div>
                <div class="project-info fadein-left">
                    <h1> AR <span class="gradient">Flutter</span> App </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi voluptates assumenda omnis impedit ipsa veritatis soluta earum minima consequatur.</p>
                    <button><i class='bx bx-link-external' ></i> Github</button>
                </div>
            </div>

            <div class="project-card">
                <div class="project-vidbox autoBlur">
                    <video loop id="projectVideo3" src="/videos/project3.mp4"></video>
                </div>
                
                <div class="project-info fadein-left">
                    <h1>Brostudy <span class="gradient">Learning</span>  Website</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores numquam saepe itaque sapiente odit neque necessitatibus explicabo hic laudantium ipsam nesciunt ducimus, cumque ratione esse.</p>
                    <button><i class='bx bx-link-external' ></i> Website</button>
                </div>
            </div>
        </section>

        <section class="skills-section">
            <h2 class="section-title">My Skills 🧙‍♂️</h2>
            
            <div class="skills-container">
                <div class="skill-group">
                    <h3>Languages & Frameworks</h3>
                    <div class="skill-items">
                        <span class="skill-item">Java</span>
                        <span class="skill-item">Kotlin</span>
                        <span class="skill-item">C#</span>
                        <span class="skill-item">Python</span>
                        <span class="skill-item">HTML</span>
                        <span class="skill-item">CSS</span>
                        <span class="skill-item">JavaScript</span>
                        <span class="skill-item">SQL</span>
                        <span class="skill-item">Dart</span>
                        <span class="skill-item">Flutter</span>
                        <span class="skill-item">Node.js</span>
                        <span class="skill-item">.NET</span>
                        <span class="skill-item">Spring Boot</span>
                        <span class="skill-item">React Native</span>
                        <span class="skill-item">Firebase</span>
                    </div>
                </div>

                <div class="skill-group">
                    <h3>Tools & Platforms</h3>
                    <div class="skill-items">
                        <span class="skill-item">Jira</span>
                        <span class="skill-item">Docker</span>
                        <span class="skill-item">MongoDB</span>
                        <span class="skill-item">Photoshop</span>
                        <span class="skill-item">Git</span>
                        <span class="skill-item">GitHub</span>
                        <span class="skill-item">Wireshark</span>
                        <span class="skill-item">Selenium</span>
                        <span class="skill-item">Mockito</span>
                        <span class="skill-item">Sony Vegas Pro</span>
                        <span class="skill-item">Postman</span>
                        <span class="skill-item">Blender</span>
                        <span class="skill-item">Unity</span>
                    </div>
                </div>

                <div class="skill-group"> 
                    <h3>Soft Skills</h3>
                    <div class="skill-items">
                        <span class="skill-item">Problem Solving</span>
                        <span class="skill-item">Adaptability</span>
                        <span class="skill-item">Team Collaboration</span>
                        <span class="skill-item">Communication</span>
                        <span class="skill-item">Time Management</span>
                        <span class="skill-item">Curiosity-Driven</span>
                        <span class="skill-item">Strategical Thinking</span>
                        <span class="skill-item">Critical Thinking</span>
                        <span class="skill-item">Self-Discipline</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="additional-info">
            <div class="info-columns">
                <div class="column">
                    <h2 class="section-title">My Education 👨‍🎓</h2>
                    <div class="education-card">
                        <p>2 Year Diploma, Computer Programming<br>
                        Conestoga College, Canada<br>
                        2023 - 2025 | GPA: 3.8/4.0 (87%)</p>
                        <img src="/images/Diploma.png" alt="Diploma" class="diploma-img">
                    </div>
                </div>

                <div class="column">
                    <h2 class="section-title">Terminal 🤖</h2>
                    <div class="terminal-card">
                        <div class="terminal-header">
                            <div class="terminal-buttons">
                                <span class="close"></span>
                                <span class="minimize"></span>
                                <span class="maximize"></span>
                            </div>
                        </div>

                        <div class="terminal-content">
                            <div class="terminal-output" id="terminalOutput">
                                <pre class="terminal-system">
                                    <span class="terminal-line">$ nicholasgalen --welcome</span>
                                    <span class="terminal-output">> Loading system...</span>
                                    <span class="terminal-output">██████████████████ 100%</span>
                                    <span class="terminal-output">System loaded. Welcome to my EPortfolio Terminal!</span>
                                    <span class="terminal-output">Type <span class="terminal-command">'help'</span> to see available commands</span>
                                    <div class="terminal-divider"></div>
                                </pre>
                            </div>
                            <div class="terminal-input">
                                <span class="prompt">$</span>
                                    <input type="text" 
                                        id="terminalInput" 
                                        autocomplete="off"
                                        placeholder="Type 'help' for command list">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script src="/scripts/config.js"></script>
    <script src="/scripts/commands.js"></script>
    <script src="/scripts/terminal.js"></script>
    <script src="/scripts/script.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script >
      AOS.init();
    </script>
</body>
</html>